<a href="https://colab.research.google.com/github/NeetuTiwari22/PYTHON3/blob/main/PYTHON3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 1. Check if a number is positive, negative, or zero
# Write a Python program that takes a number as input and checks whether it is positive, negative, or zero.

n = int(input("enter a number: "))
if n > 0:
    print("The number is positive")
elif n < 0:
    print("The number is negative")
else:
    print("The number is zero")

Enter a number: 4
The number is positive

In [ ]:
#2. Check if a number is even or odd
# Write a Python program that asks the user to enter a number and determines if it is even or odd.
n=int(input("enter a number"))
if n % 2 == 0:
  print("even number")
else :
  print("odd number")

enter a number12
even number

In [ ]:
# 3. Find the largest of two numbers
# Write a Python program that takes two numbers as input and prints the largest one.
a=int(input("enter a number"))
b=int(input("enter b number"))
if a>b:
  print(" a largest number")
elif b>a:
  print(" b largest number")

enter a number22
enter b number1
 a largest number

In [ ]:
# 4. Find the largest of three numbers
# Write a Python program that takes three numbers as input and determines the largest of the three.
a=int(input("a enter a number"))
b=int(input("b enter a number"))
c=int(input("c enter a number"))
if a>b>c:
  print("a is large number")
elif b>a>c:
  print("b is large number")
elif c>a>b:
  print("c is large number")

a enter a number22
b enter a number12
c enter a number33
c is large number

In [ ]:
# 5. Check if a year is a leap year
# Write a Python program that takes a year as input and checks whether it is a leap year or not.
year = int(input("Enter a year: "))
      #   if year % 4 == 0:
      #    print("leap  year")
      #  else :
      #    print("not leap year")

if (year % 4 == 0) and (year % 100 != 0) or (year % 400 == 0):
    print(" is a leap year.")
else:
    print("is not a leap year.")

Enter a year: 1997
is not a leap year.

In [ ]:
# 6. Grade a student based on marks
# Write a Python program that asks the user to enter their marks and assigns a grade based on the following:

marks = int(input("Enter your marks: "))

if marks >= 90:
    print("Grade: A")
elif marks >= 80:
    print("Grade: B")
elif marks >= 70:
    print("Grade: C")
elif marks >= 60:
    print("Grade: D")
else:
    print("Grade: F")

Enter your marks: 88
Grade: B

In [ ]:
# 7. Check if a number is divisible by both 5 and 11
# Write a Python program that takes a number as input and checks if it is divisible by both 5 and 11.

number = int(input("Enter a number: "))

if (number % 5 == 0) & (number % 11 == 0):
    print("is divisible by both 5 and 11.")
else:
    print(" is NOT divisible by both 5 and 11.")

Enter a number: 55
is divisible by both 5 and 11.

In [ ]:
# 8. Check if a character is a vowel or consonant
# Write a Python program that takes a single character as input and checks whether it is a vowel (a, e, i, o, u) or a consonant.
char = input("Enter your character: ")
if char == 'a' or char == 'e' or char == 'i' or char == 'o' or char == 'u':
 print("vowel")
else:
  print("consonent")

Enter your character: b
consonent

In [ ]:
# 9. Check if a number is within a specific range
# Write a Python program that checks whether a given number lies between 10 and 50 (inclusive).

num = int(input("Enter a number: "))
if 10 <= num <= 50:
    print(" is within the range of 10 to 50.")
else:
    print("is outside the range of 10 to 50.")

Enter a number: 22
 is within the range of 10 to 50.

In [ ]:
# 10. Check if a person is eligible to vote
# Write a Python program that asks for a person's age and checks if they are eligible to vote (age â‰¥ 18).
age = int(input("Enter your age: "))

if age >= 18:
    print("You are eligible to vote.")
else:
    print("You are not eligible to vote.")

Enter your age: 44
You are eligible to vote.

In [ ]:
# Initial values
total_seats = 100
seat_price = 100

# Get user input
seats_requested = int(input("How many seats would you like to book? "))

# Check if enough seats are available
if seats_requested <= total_seats and seats_requested > 0:
    total_fare = seats_requested * seat_price
    total_seats -= seats_requested
    print(f"Total fare for {seats_requested} seats is: {total_fare} units")
    print(f"Available seats after booking: {total_seats}")
else:
    print("Sorry, not enough seats available or invalid number of seats!")

How many seats would you like to book? 5
Total fare for 5 seats is: 500 units
Available seats after booking: 95

In [ ]:
# 21-3-2025
# String is immutable datatype . Immutable means we cannot change or update values at a runtime.
# Indexing start from 0 and  length start from 1 .
# forward Indexing start from 0 and reverse/backward indexing start from -1.

In [ ]:
a = 'sam'
print(a)
type(a)

sam

str

In [ ]:
# Indexing
a = 'I love Maths'
print(a[0])      ####forward Indexing start from 0
print(a[1])
print(a[2])
print(a[3])
print(a[4])
print(a[5])

I

l
o
v
e

In [ ]:
print(a[-1])   ###Reverse Indexing
print(a[-2])
print(a[-3])
print(a[-4])
print(a[-5])

s
h
t
a
M

Slicing in String
 `
str[start_index_value:last_index_value:step_value]
start_index_value will include and last_index_value will exclude .

In [ ]:
a = 'I love Maths'
print(a[2:6])
print(a[7:12])
print(a[7:])
print(a[:7])
print(a[:])
print(a[0:11:2]) ###[start:last:step]
print(a[0:11])

love
Maths
Maths
I love
I love Maths
Ilv ah
I love Math

In [ ]:
s = "hello"
reversed_s = s[::-1]
print(reversed_s)

olleh

In [ ]:
s = "programming"
print(s[3:7])

gram

In [ ]:
s = "banana"
print(s.count('a'))

3

In [ ]:
s = "hello world"
print(s.upper())

HELLO WORLD

# **loop in python**

In [ ]:
i=int(input("Enter 1 num"))
n=int(input("enter last num"))
p=int(input("enter step value"))

while(i<=n):
 print(i)
 i=i+p

Enter 1 num1
enter last num10
enter step value2
1
3
5
7
9

In [ ]:
 # sum of first 10 natural number
 total=0
 for i in range (1,11):
  total +=1
 print("sum:",total)

sum: 10

In [ ]:
# factorial number
num=int(input("Enter a number"))
factorial = 1
for i in range (1,num+1):
  factorial *= i
print(f"factorial of {num} is {factorial}")

Enter a number5
factorial of 5 is 120

In [ ]:
# count vowels and consonant
text =input("Enter a string: ")
vowels = "aeiouAEIOU"
count = 0
cons = 0
for char in text:
  if char in vowels:
     count += 1
  else:
    cons = cons + 1
print("Enter the vowels:",count)
print("Enter of cons:",cons)

Enter a string: hello world
Enter the vowels: 3
Enter of cons: 8

In [ ]:
a=input("enter a name:")
len(a)
for i in range (len(a)):
  print(i)
  print(a[i])

enter a name:neetu
0
n
1
e
2
e
3
t
4
u

In [ ]:
# multiplication table
num = int(input("Enter a number"))
for i in range (1,11):
  print(f"{num}*{i}={num*i}")

Enter a number5
5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
5*10=50

In [ ]:
#full pyramid patterns
n =int(input("Enter a number:"))
for i in range(1,n+1):
  print(' '*(n-i)+'*'*(2*i-1))

Enter a number:5
    *
   ***
  *****
 *******
*********

In [ ]:
# inverted full Pyramid Patterns
n=5
for i in range(n,0,-1):
 print(' '*(n-i)+'*'*(2*i-1))

*********
 *******
  *****
   ***
    *

In [ ]:
# Half Pyramid Patterns
for i in range (1,6):
 print(i*'*')

*
**
***
****
*****

In [ ]:
#Inverted half Pyramid Patterns
for i in range(5,0,-1):
  print(i*'*')

*****
****
***
**
*

In [ ]:
# Hollow Right Triangle Star Pattern
n=int(input("Enter number"))
for i in range (1,n+1):
    if i == 1 or i == n:
      print('*'*i) #first or last row
    else:
      print('*'+' '*(i-2)+'*') #middel rows with space

Enter number5
*
**
* *
*  *
*****

# **Nested** loop

In [ ]:
n=5
for i in range(1,n+1):
 for j in range(i):
   print('*',end='')
 print()

*
**
***
****
*****

In [ ]:
n=5
for i in range(1,n+1):
  for j in range(i):
    if j==0 or j==i-1 or i==1 or i==n:
       print('*',end=' ')
    else:
      print(' ',end=' ')
  print()

*
* *
*   *
*     *
* * * * *

In [ ]:
n=5
for i in range(1,n+1):
  for j in range(n-i):
   print(' ',end=' ')
  for k in range(2*i-1):
    print('*',end=' ')
  print()

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [ ]:
n=5
for i in range(n,0,-1):
 for j in range(n-i):
  print('  ',end='')
 for k in range(2*i-1):
  print('*',end=' ')
 print()

* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

**LIST**
1. Identification:[ ].
2. list is a collection of item in which we can store different-different elements.
3. Indexing start from 0 and length start from 1.
4. Mutable data type--->we can change or update the value at a run time.
5. Elements are separated by commas.

In [2]:
a = ['sam' ,'raj',45,34.89,12,67]
type(a)

list

In [4]:
#Indexing and slicling
print(a[0])
print(a[1])
print(a[2])
print(a[3])
print(a[2:5])
print(a[1:4])
print(a[3:])
print(a[:3])
print(a[:])

sam
raj
45
34.89
[45, 34.89, 12]
['raj', 45, 34.89]
[34.89, 12, 67]
['sam', 'raj', 45]
['sam', 'raj', 45, 34.89, 12, 67]

In [6]:
#Mutability
a = ['sam','raj',45,34.89,12,67]
print(a)
a[1]='garima'
print(a)
a[3]=45.912
print(a)

['sam', 'raj', 45, 34.89, 12, 67]
['sam', 'garima', 45, 34.89, 12, 67]
['sam', 'garima', 45, 45.912, 12, 67]

In [11]:
a= ['sam','raj',45,34.89,12,67]
if 'rahul' in a:
  print('yes')
else:
  print('no')

no

In [14]:
a = ['sam','raj',45,34.89,12,67]
for i in a:
  print(i)

sam
raj
45
34.89
12
67

In [13]:
a = ['sam','raj',45,34.89,12,67]
for i in a:
  print(i,end=",")

sam,raj,45,34.89,12,67,

In [15]:
len(a)

6

In [19]:
for i in range (len(a)):
  print(a[i])

sam
raj
45
34.89
12
67

**List properties**

In [20]:
#List Properties
# (1).concatenation
a=[1,2,3]
b=[4,5,6]
c=a+b
print(c)

[1, 2, 3, 4, 5, 6]

In [21]:
#(2).replication
a=[1,2,3]
print(a*3)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

**Function** **in** **python**

In [22]:
#(1).len()--> it will be return length of a list.
a = [1,67,90]
len(a)

3

In [23]:
#(2).Index-->it will return indexing of an element that present in a list.
a = ['sam',12,56]
a.index(56)

2

In [25]:
#(3).append--> this method will add element in the last indexing of list.
a = ['sam','purvi',56]
print(a)
a.append('raj')
print(a)
a.append('sahil')
print(a)

['sam', 'purvi', 56]
['sam', 'purvi', 56, 'raj']
['sam', 'purvi', 56, 'raj', 'sahil']

In [29]:
# (4).insert(index,object)-->this method will add element in the given indexing.
a = ['sam','raj','rahul']
print(a)
a.insert(1,'purvi')
print(a)

['sam', 'raj', 'rahul']
['sam', 'purvi', 'raj', 'rahul']

In [30]:
# (5).min()--->it wil be return minmum value of a list.
a =[1,2,3]
print(min(a))

1

In [32]:
# (6).max()-->it will be return maxmum value of a list.
a = [1,3,2]
print(max(a))

3

In [33]:
# (7).sort--> it will return a list in which element are arranged in ascending order.
a = [1,7,3,2,5,4]
print(a)
a.sort()
print(a)

[1, 7, 3, 2, 5, 4]
[1, 2, 3, 4, 5, 7]

In [34]:
# (8).reverse()-->it will return a list in which element position will be reverse.
a = [1,2,3,4]
print(a)
a.reverse()
print(a)

[1, 2, 3, 4]
[4, 3, 2, 1]

In [36]:
# (9).pop()--->it will delete from last indexing.
a = [1,2,3,4]
print(a)
a.pop()
print(a)
a.pop()
print(a)

[1, 2, 3, 4]
[1, 2, 3]
[1, 2]

In [41]:
# (10).remove()-->it will delete element in a list.
a = ['sam','gorav','aniket',44,67]
print(a)
a.remove('sam')
print(a)
a.remove(44)
print(a)

['sam', 'gorav', 'aniket', 44, 67]
['gorav', 'aniket', 44, 67]
['gorav', 'aniket', 67]