<a href="https://colab.research.google.com/github/NeetuTiwari22/PYTHON3/blob/main/PYTHON3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Python ----> Python is a general-purpose , high-level , interpreted programming language
 which was invented in 1991 by Guido Van Rossoum .

 Data Analytics ----> Analyze past records  .

 Data Engineering -----> Collect information and create appropriate data .

 Data Science  ----> Predict the future  .

 Django/Flask  -----> Web Application .

In [ ]:
# Fundamentals of Python ----->
# (1). Data type
# (a). Integer ------> All positive or negative values . Ex. 34 , 67 , -12
# (b). Float ------> All decimal values . Ex. -34.56 , 12.56 , 89.56
# (c). String ----> 'single_quotes' , "double_quotes" , '''triple_quotes''' . Ex. 'sam' , "sam" , '''sam'''
# (d). Boolean ----> True , False  . Ex . 5>4 --->> True , 3<2 ---> False

# (2). Variable  ------.> This is a container in which we can store or assign the values .
a = 34
b = 223.67
c = 'sam'
d = 5>1
#### here a,b,c,d = variable

# Types of variables ----->
# (a). Global Variable ----> This will be outside of block of code and when we change or update the values then all the position where it is
# declared will be updated .
# (b). Local Variable  ----> This will be inside a block of code and values will change only in that block of code .

# (3). print() & input()
# (a). print() ----> This is a pre-defined function that will execute our query on the terminal .
print(5)
print(56.89)

# (b). input() -----> This is also a pre-defiend function in python that will take query from user and then send it to model .
# By default , its output will be in string format .
a = input("Enter your good name:")
print(a)
print(type(a))

5
56.89
Enter your good name:sam
sam
<class 'str'>

In [ ]:
# type() ---> Using type() , we can check data type of element .
type(34)
type(34.56)
type("34")
type(5>4)

bool

In [ ]:
a = 5 ###Global variable

if(a>5):         ## here b,c = Local Variable
  b = 2
  c = a + b
  print(c)

In [ ]:
a = 5
print(a)

5

In [ ]:
# Fundamentals of Python

# (1). Data type --->
# (a). Integer
# (b). Float
# (c). String
# (d). Boolean

# type() -----> for check data type .

# (2). Variable ---->
# (a). local variable
# (b). Global variable

# (3). print()  ----> Execute our query .
# input()  ----> It will take query from users .

In [ ]:
# Comments in Python
# (a). Inline comment --> # (cntrl+/)
# a = 56
# (b). Multiline comment ---> ####
# a = 45
# b = 67
# c = 'sam'

# (c). DocString comment --->
# '''this is my message'''

In [ ]:
# Operators in Python

# (1). Addition(+) ----> 5+2 = 7
# (2). Subtraction(-) ---> 5-2 = 3
# (3). Multiplication(*) ----> 2*5 = 10
# (4). Division(/) ---> 5/2 = 2.5
# (5). Floor Division(//) ----> 5//2 = 2
# (6). Module(%) ---> For Remainder Calculation ---> 25%10 = 5(Remainder)
# (7). Equal to(=) ----> For values assign ---> a=5 , b = 'sam'
# (8). Equal Equal to (==) ---> For values comparison ---> 5==5 , 'sam'=='mohit'
# (9). Not Equal to (!=) ----> 4!=5
# (10).Greater than(>) ----> 5>4
# (11). Greater than or Equal to (>=) ----> 5>=5
# (12). Less than or Equal to (<=) ---> 4<=5

In [ ]:
25%10

5

In [ ]:
# # Conditional Statement ----->
# if  ----->
# elif ----->        user condition
# else ------>

In [ ]:
# Ex.1
a = input("Enter your name:")
if(a=='mohit'):
  print('yes')
elif(a=='sam'):
  print('No')
elif(a=='raj'):
  print('ok')
else:
  print('Try Again....')

Enter your name:sam
No

In [ ]:
# type-casting  ----> change one data type to another data type .
a = 45
print(a)
b = float(a)
print(b)
c = str(b)
print(c)
print(type(c))
# d = 'rohit'
# e = int(d)
# e

45
45.0
45.0
<class 'str'>

In [ ]:
# Ex.2 Write a program who tell us age of the user like is he/she child , young , old .

a = int(input("Enter YOUR AGE:"))
if(0<=a<=20):
  print("child")
elif(21<=a<=50):
  print("Young")
elif(51<=a<=90):
  print("old")
else:
  print("Enter a valid Age....")

Enter YOUR AGE:102
Enter a valid Age....

In [ ]:
# int ---> float
# float ----> int
# int ---> str
# float ----> str

In [ ]:
# Q.3
print("Pizza:100 , icecream:50")
a = input("Enter your yummy item:")
if(a == 'Pizza'):
  b = int(input("Enter your quantity:"))
  c = b*100
  if c>1000:
    print("your 10% discounted price is :" , c-(c*10/100))
  else:
    print("Your total bill is :" , c)


  print('your yoummy item is Pizza ')
else :
  print("Please select a valid item.....")

Pizza:100 , icecream:50
Enter your yummy item:Pizza
Enter your quantity:5
Your total bill is : 500
your yoummy item is Pizza

In [ ]:
# 1. Check if a number is positive, negative, or zero
# Write a Python program that takes a number as input and checks whether it is positive, negative, or zero.

n = int(input("enter a number: "))
if n > 0:
    print("The number is positive")
elif n < 0:
    print("The number is negative")
else:
    print("The number is zero")

enter a number: 22
The number is positive

In [ ]:
#2. Check if a number is even or odd
# Write a Python program that asks the user to enter a number and determines if it is even or odd.
n=int(input("enter a number"))
if n % 2 == 0:
  print("even number")
else :
  print("odd number")

enter a number24
even number

In [ ]:
# 3. Find the largest of two numbers
# Write a Python program that takes two numbers as input and prints the largest one.
a=int(input("enter a number"))
b=int(input("enter b number"))
if a>b:
  print(" a largest number")
elif b>a:
  print(" b largest number")

enter a number12
enter b number23
 b largest number

In [ ]:
# 4. Find the largest of three numbers
# Write a Python program that takes three numbers as input and determines the largest of the three.
a=int(input("a enter a number"))
b=int(input("b enter a number"))
c=int(input("c enter a number"))
if a>b>c:
  print("a is large number")
elif b>a>c:
  print("b is large number")
elif c>a>b:
  print("c is large number")

a enter a number22
b enter a number23
c enter a number12
b is large number

In [ ]:
# 5. Check if a year is a leap year
# Write a Python program that takes a year as input and checks whether it is a leap year or not.
year = int(input("Enter a year: "))
      #   if year % 4 == 0:
      #    print("leap  year")
      #  else :
      #    print("not leap year")

if (year % 4 == 0) and (year % 100 != 0) or (year % 400 == 0):
    print(" is a leap year.")
else:
    print("is not a leap year.")

Enter a year: 2024
 is a leap year.

In [ ]:
# 6. Grade a student based on marks
# Write a Python program that asks the user to enter their marks and assigns a grade based on the following:

marks = int(input("Enter your marks: "))

if marks >= 90:
    print("Grade: A")
elif marks >= 80:
    print("Grade: B")
elif marks >= 70:
    print("Grade: C")
elif marks >= 60:
    print("Grade: D")
else:
    print("Grade: F")

Enter your marks: 88
Grade: B

In [ ]:
# 7. Check if a number is divisible by both 5 and 11
# Write a Python program that takes a number as input and checks if it is divisible by both 5 and 11.

number = int(input("Enter a number: "))

if (number % 5 == 0) & (number % 11 == 0):
    print("is divisible by both 5 and 11.")
else:
    print(" is NOT divisible by both 5 and 11.")

Enter a number: 55
is divisible by both 5 and 11.

In [ ]:
# 8. Check if a character is a vowel or consonant
# Write a Python program that takes a single character as input and checks whether it is a vowel (a, e, i, o, u) or a consonant.
char = input("Enter your character: ")
if char == 'a' or char == 'e' or char == 'i' or char == 'o' or char == 'u':
 print("vowel")
else:
  print("consonent")

Enter your character: a
vowel

In [ ]:
# 9. Check if a number is within a specific range
# Write a Python program that checks whether a given number lies between 10 and 50 (inclusive).

num = int(input("Enter a number: "))
if 10 <= num <= 50:
    print(" is within the range of 10 to 50.")
else:
    print("is outside the range of 10 to 50.")

Enter a number: 44
 is within the range of 10 to 50.

In [ ]:
# 10. Check if a person is eligible to vote
# Write a Python program that asks for a person's age and checks if they are eligible to vote (age â‰¥ 18).
age = int(input("Enter your age: "))

if age >= 18:
    print("You are eligible to vote.")
else:
    print("You are not eligible to vote.")

Enter your age: 44
You are eligible to vote.

In [ ]:
# Initial values
total_seats = 100
seat_price = 100

# Get user input
seats_requested = int(input("How many seats would you like to book? "))

# Check if enough seats are available
if seats_requested <= total_seats and seats_requested > 0:
    total_fare = seats_requested * seat_price
    total_seats -= seats_requested
    print(f"Total fare for {seats_requested} seats is: {total_fare} units")
    print(f"Available seats after booking: {total_seats}")
else:
    print("Sorry, not enough seats available or invalid number of seats!")

How many seats would you like to book? 5
Total fare for 5 seats is: 500 units
Available seats after booking: 95

In [ ]:
# 21-3-2025
# String is immutable datatype . Immutable means we cannot change or update values at a runtime.
# Indexing start from 0 and  length start from 1 .
# forward Indexing start from 0 and reverse/backward indexing start from -1.

In [ ]:
a = 'sam'
print(a)
type(a)

sam

str

In [ ]:
# Indexing
a = 'I love Maths'
print(a[0])      ####forward Indexing start from 0
print(a[1])
print(a[2])
print(a[3])
print(a[4])
print(a[5])

I

l
o
v
e

In [ ]:
print(a[-1])   ###Reverse Indexing
print(a[-2])
print(a[-3])
print(a[-4])
print(a[-5])

s
h
t
a
M

Slicing in String
 `
str[start_index_value:last_index_value:step_value]
start_index_value will include and last_index_value will exclude .

In [ ]:
a = 'I love Maths'
print(a[2:6])
print(a[7:12])
print(a[7:])
print(a[:7])
print(a[:])
print(a[0:11:2]) ###[start:last:step]
print(a[0:11])

love
Maths
Maths
I love
I love Maths
Ilv ah
I love Math

In [ ]:
s = "hello"
reversed_s = s[::-1]
print(reversed_s)

olleh

In [ ]:
s = "programming"
print(s[3:7])

gram

In [ ]:
s = "banana"
print(s.count('a'))

3

In [ ]:
s = "hello world"
print(s.upper())

HELLO WORLD

# **loop in python**

In [ ]:
i=int(input("Enter 1 num"))
n=int(input("enter last num"))
p=int(input("enter step value"))

while(i<=n):
 print(i)
 i=i+p

Enter 1 num1
enter last num10
enter step value2
1
3
5
7
9

In [ ]:
 # sum of first 10 natural number
 total=0
 for i in range (1,11):
  total +=1
 print("sum:",total)

sum: 10

In [ ]:
# factorial number
num=int(input("Enter a number"))
factorial = 1
for i in range (1,num+1):
  factorial *= i
print(f"factorial of {num} is {factorial}")

Enter a number5
factorial of 5 is 120

In [ ]:
# count vowels and consonant
text =input("Enter a string: ")
vowels = "aeiouAEIOU"
count = 0
cons = 0
for char in text:
  if char in vowels:
     count += 1
  else:
    cons = cons + 1
print("Enter the vowels:",count)
print("Enter of cons:",cons)

Enter a string: hello world
Enter the vowels: 3
Enter of cons: 8

In [ ]:
a=input("enter a name:")
len(a)
for i in range (len(a)):
  print(i)
  print(a[i])

enter a name:neetu
0
n
1
e
2
e
3
t
4
u

In [ ]:
# multiplication table
num = int(input("Enter a number"))
for i in range (1,11):
  print(f"{num}*{i}={num*i}")

Enter a number5
5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
5*10=50

In [ ]:
#full pyramid patterns
n =int(input("Enter a number:"))
for i in range(1,n+1):
  print(' '*(n-i)+'*'*(2*i-1))

Enter a number:5
    *
   ***
  *****
 *******
*********

In [ ]:
# inverted full Pyramid Patterns
n=5
for i in range(n,0,-1):
 print(' '*(n-i)+'*'*(2*i-1))

*********
 *******
  *****
   ***
    *

In [ ]:
# Half Pyramid Patterns
for i in range (1,6):
 print(i*'*')

*
**
***
****
*****

In [ ]:
#Inverted half Pyramid Patterns
for i in range(5,0,-1):
  print(i*'*')

*****
****
***
**
*

In [ ]:
# Hollow Right Triangle Star Pattern
n=int(input("Enter number"))
for i in range (1,n+1):
    if i == 1 or i == n:
      print('*'*i) #first or last row
    else:
      print('*'+' '*(i-2)+'*') #middel rows with space

Enter number5
*
**
* *
*  *
*****

# **Nested** loop

In [ ]:
n=5
for i in range(1,n+1):
 for j in range(i):
   print('*',end='')
 print()

*
**
***
****
*****

In [ ]:
n=5
for i in range(1,n+1):
  for j in range(i):
    if j==0 or j==i-1 or i==1 or i==n:
       print('*',end=' ')
    else:
      print(' ',end=' ')
  print()

*
* *
*   *
*     *
* * * * *

In [ ]:
n=5
for i in range(1,n+1):
  for j in range(n-i):
   print(' ',end=' ')
  for k in range(2*i-1):
    print('*',end=' ')
  print()

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [ ]:
n=5
for i in range(n,0,-1):
 for j in range(n-i):
  print('  ',end='')
 for k in range(2*i-1):
  print('*',end=' ')
 print()

* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

**LIST**
1. Identification:[ ].
2. list is a collection of item in which we can store different-different elements.
3. Indexing start from 0 and length start from 1.
4. Mutable data type--->we can change or update the value at a run time.
5. Elements are separated by commas.

In [ ]:
a = ['sam' ,'raj',45,34.89,12,67]
type(a)

list

In [ ]:
#Indexing and slicling
print(a[0])
print(a[1])
print(a[2])
print(a[3])
print(a[2:5])
print(a[1:4])
print(a[3:])
print(a[:3])
print(a[:])

sam
raj
45
34.89
[45, 34.89, 12]
['raj', 45, 34.89]
[34.89, 12, 67]
['sam', 'raj', 45]
['sam', 'raj', 45, 34.89, 12, 67]

In [ ]:
#Mutability
a = ['sam','raj',45,34.89,12,67]
print(a)
a[1]='garima'
print(a)
a[3]=45.912
print(a)

['sam', 'raj', 45, 34.89, 12, 67]
['sam', 'garima', 45, 34.89, 12, 67]
['sam', 'garima', 45, 45.912, 12, 67]

In [ ]:
a= ['sam','raj',45,34.89,12,67]
if 'rahul' in a:
  print('yes')
else:
  print('no')

no

In [ ]:
a = ['sam','raj',45,34.89,12,67]
for i in a:
  print(i)

sam
raj
45
34.89
12
67

In [ ]:
a = ['sam','raj',45,34.89,12,67]
for i in a:
  print(i,end=",")

sam,raj,45,34.89,12,67,

In [ ]:
len(a)

6

In [ ]:
for i in range (len(a)):
  print(a[i])

sam
raj
45
34.89
12
67

**List properties**

In [ ]:
#List Properties
# (1).concatenation
a=[1,2,3]
b=[4,5,6]
c=a+b
print(c)

[1, 2, 3, 4, 5, 6]

In [ ]:
#(2).replication
a=[1,2,3]
print(a*3)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

**Function** **in** **python**

In [ ]:
#(1).len()--> it will be return length of a list.
a = [1,67,90]
len(a)

3

In [ ]:
#(2).Index-->it will return indexing of an element that present in a list.
a = ['sam',12,56]
a.index(56)

2

In [ ]:
#(3).append--> this method will add element in the last indexing of list.
a = ['sam','purvi',56]
print(a)
a.append('raj')
print(a)
a.append('sahil')
print(a)

['sam', 'purvi', 56]
['sam', 'purvi', 56, 'raj']
['sam', 'purvi', 56, 'raj', 'sahil']

In [ ]:
# (4).insert(index,object)-->this method will add element in the given indexing.
a = ['sam','raj','rahul']
print(a)
a.insert(1,'purvi')
print(a)

['sam', 'raj', 'rahul']
['sam', 'purvi', 'raj', 'rahul']

In [ ]:
# (5).min()--->it wil be return minmum value of a list.
a =[1,2,3]
print(min(a))

1

In [ ]:
# (6).max()-->it will be return maxmum value of a list.
a = [1,3,2]
print(max(a))

3

In [ ]:
# (7).sort--> it will return a list in which element are arranged in ascending order.
a = [1,7,3,2,5,4]
print(a)
a.sort()
print(a)

[1, 7, 3, 2, 5, 4]
[1, 2, 3, 4, 5, 7]

In [ ]:
# (8).reverse()-->it will return a list in which element position will be reverse.
a = [1,2,3,4]
print(a)
a.reverse()
print(a)

[1, 2, 3, 4]
[4, 3, 2, 1]

In [ ]:
# (9).pop()--->it will delete from last indexing.
a = [1,2,3,4]
print(a)
a.pop()
print(a)
a.pop()
print(a)

[1, 2, 3, 4]
[1, 2, 3]
[1, 2]

In [ ]:
# (10).remove()-->it will delete element in a list.
a = ['sam','gorav','aniket',44,67]
print(a)
a.remove('sam')
print(a)
a.remove(44)
print(a)

['sam', 'gorav', 'aniket', 44, 67]
['gorav', 'aniket', 44, 67]
['gorav', 'aniket', 67]

Q.write a python program to calculate the tatal bill at a grocery store.the user can input prices for 5 items,and if the total price $100,a discount of 10% is applied.

In [ ]:
total_price = 0
item = int(input("Enter a numbe"))
for i in range(item):
  price = float(input(f"Enter a price item {i+1}:"))
  total_price += price
if total_price > 100:
  total_price *= 0.9 #Apply 10% discount
print(f"Total bill after discount (if applicable):${total_price:.2f}")

Enter a numbe3
Enter a price item 1:22
Enter a price item 2:33
Enter a price item 3:55
Total bill after discount (if applicable):$99.00

Q.Create a program that asks a student to input their grade (0-100)and classify them into "fail","pass"or"Excelllent"using conditionl statements.(fail:<40,pass:40-80,Excellent:>80)

In [ ]:
grade=int(input("enter number"))
if grade>80:
  print("Excelllent")
elif grade>80 or grade>40:
  print("Pass")
else:
  print("Fail")

enter number60
Pass

Q.You have a list of employee name and a corresponding list of their salaries.Write a pyhton program to print each empolyee's name along with their salary using a loop.

In [ ]:
employee = ['sam','raj','mohit','pooja']
salariess = [50000,60000,55000,75000]
for i in range(len(employee)):
  print(f"Employee:{employee[i]}'s salary is Rs:{salariess[i]}")

Employee:sam's salary is Rs:50000
Employee:raj's salary is Rs:60000
Employee:mohit's salary is Rs:55000
Employee:pooja's salary is Rs:75000

Q.Write a python program that keep asking the user to input a password.The password must contain at least 8 characters.if it's less,the program should ask again until a vaild password is entered.

In [ ]:
while True:
  password =  input("Enter a password (minimum 8 characters): ")
  if len(password) >=8:
    print("password accpted")
    break
  else:
      print("password too short.Try again.")

Enter a password (minimum 8 characters): 1234
password too short.Try again.
Enter a password (minimum 8 characters): 12345678
password accpted

Q.Create a list to store daily tasks.allow the user to add 5 tasks one by one,then display the list of tasks.

In [ ]:
tasks = []
for i in range(5):
  task = input(f"Enter task {i+1}: ")
  tasks.append(task)

print("Your tasks for today are:")
for task in tasks:
  print(f"-{task}")

Enter task 1: Reading books
Enter task 2: physics
Enter task 3: math
Enter task 4: English
Enter task 5: AI
Your tasks for today are:
-Reading books
-physics
-math
-English
-AI

Q.given two number a and b,Write a python program to swap their values using a list.

In [ ]:
a = int(input("Enter a number:"))
b = int(input("Enter b number:"))
print(f"before swapping:a={a},b={b}")
a,b=b,a
print(f"after swapping:a={a},b={b}")

Enter a number:23
Enter b number:32
before swapping:a=23,b=32
after swapping:a=32,b=23

In [ ]:
# (1).filtering out odd numbers
# problem:you have a list of number,and you need to create a new list that only contains even numbers.

# Input Example:
# number = [10,25,36,47,52,63,78]

# Output Example:
# [10,36,52,78]

In [ ]:
number = [10,25,36,47,52,63,78]
even_number = []
odd_number = []
for i in number:
  if i%2==0:
    even_number.append(i)
  else:
    odd_number.append(i)
print("even number:",even_number)
print("odd number:",odd_number)

even number: [10, 36, 52, 78]
odd number: [25, 47, 63]

In [ ]:
# (2). Categorizing Product Prices
# problem:you have a list of product prices, and you need to categorize each product based on its price:
# price > 1000 -> "Expensive"
# price > 500 and < 1000 ->  "Moderate"

# Input Example:
# prices = [1200,800,450,300,950,2000]

# Output Example:
# ["Expensive","moderate","cheap","cheap","moderate","Expensive"]

In [ ]:
prices = [1200,800,450,300,950,2000]
categories = []

for price in prices:
  if price > 1000:
    categories.append("Expensive")
  elif 500<= price <= 1000:
    categories.append("Moderate")
  else:
    categories.append("cheap")
print("Price Categories",categories)

Price Categories ['Expensive', 'Moderate', 'cheap', 'cheap', 'Moderate', 'Expensive']

In [ ]:
#(3). Counting the number of Vowel in a sentence
# Problem: Given a  Sentence, count how many vowel (a,e,i,o,u) are present in the sentence.

# Input Example:
# sentence = "Hello,how are you?"

# Output Example:
# Total vowels:7

In [ ]:
sentence = "Hello,how are you?"
vowels = "aeiouAEIOU"
count = 0
consonant = 0

for char in sentence:
  if char in vowels:
    count += 1
  else:
      consonant += 1
print("Total vowels:",count)
print("Total consonant:",consonant)

Total vowels: 7
Total consonant: 11

In [ ]:
#(4). Identifying passengers Eligible for Discount
# problem: A metro system gives discount to senior citizens (age>=60).give a list of ages,
# determine who gets a discount.

# Input Example:
# ages = [25,60,75,40,90,58]

# output Example:
# [False,True,True,False,True,False]

In [ ]:
ages =[25,60,75,40,90,58]
discount = []
for age in ages:
  if age >= 60:
    discount.append(True)
  else:
    discount.append(False)
print("Discount Eligibility:",discount)

Discount Eligibility: [False, True, True, False, True, False]

In [ ]:
# (5).checking Palindromes words in a list
# problem:
# you have a list of words, and you need to check
# which words are palindromes (words that read the same forward and backward).

# Input :
# word=["madam","hello","level","python","racecar"]

# Output:
# [Ture,False,True,False,True]

In [ ]:
word = ["madam","hello","level","python","racecar"]
palindromes_check = []
for i in word:
  if i == i[::-1]:
    palindromes_check.append(True)
  else:
    palindromes_check.append(False)
print("Palindromes check:",palindromes_check)

Palindromes check: [True, False, True, False, True]

In [ ]:
# (6).Categorizing Temperatures
# problem:
# You have a list of temperatures recorded in a week, and you need a categorize them as:

# "cold" -> Temperature < 15'C
# "warm" -> Temperature between 15'C and 30'C
# "Hot" -> Temperature > 30'C

# Input:
# temparature = [10,22,35,28,15,5,40]

# Output:
# ["cold","warm","Hot","warm","warm","cold","Hot"]

In [ ]:
temparature = [10,22,35,28,15,5,40]
categorize = []
for temp in temparature:
  if temp < 15:
    categorize.append("cold")
  elif temp >= 15 and temp <= 30:
    categorize.append("warm")
  else:
    categorize.append("Hot")
print(temparature)
print("Temparature check:",categorize)

[10, 22, 35, 28, 15, 5, 40]
Temparature check: ['cold', 'warm', 'Hot', 'warm', 'warm', 'cold', 'Hot']

Tuple in python---->

(1).Identification = ().

(2).Immutable data type-->we cannot change or update the values at a runtime.

(3).This is a container in which we can store different-different types of element.

(4).Indexing start from 0 and length start from 1.

In [ ]:
a = ('sam' , 45 , 'raj' , 78.48)
type(a)

tuple

In [ ]:
### Indrexing and slicing
print(a[0])   ### forward Indexing
print(a[1])
print(a[2])
print(a[3])
print("------")
print(a[-1])   ### Backward Indexing
print(a[-2])
print(a[-3])

sam
45
raj
78.48
------
78.48
raj
45

In [ ]:
print(a[1:3])

(45, 'raj')

In [ ]:
a = 56
print(type(a))
a = 56,
print(type(a))

<class 'int'>
<class 'tuple'>

In [ ]:
# Imuutable data type
a = ('sam' , 45 , 'raj' , 78.48)
print(a)
# a[1] = 900
b = list(a)
print(b)
b[1] = 9000
print(b)
c = tuple(b)
print(c)

('sam', 45, 'raj', 78.48)
['sam', 45, 'raj', 78.48]
['sam', 9000, 'raj', 78.48]
('sam', 9000, 'raj', 78.48)

**Properties** **of tuple**

In [ ]:
a = (1,2,3)   ### Concatenation
b = (4,5,6)
c = a + b
c

(1, 2, 3, 4, 5, 6)

In [ ]:
# (2). Replication
a = (1,2,3)
a*3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

**Functions of tuple**

In [ ]:
# (1). len() ----> It will return length of a tuple .
a = ('sam' , 45 , 'raj' , 78.48)
len(a)

4

In [ ]:
# (2). index() ----> It will return indexing of an element .
a = ('sam' , 45 , 'raj' , 78.48)
a.index(45)

1

In [ ]:
# (3). count() ----> It will return frequency of element .
a = ('sam' , 45 , 'raj' , 78.48 , 45 , 45)
a.count(45)

3

In [ ]:
# (4). min() ---> It will return  minimum value of a tuple .
a = (1,2,3)
min(a)

1

In [ ]:
# (5). max() ----> It will return maximum value of a tuple .
a = (1,2,3)
max(a)

3

Q.1 How can we create a user-defined tuple ?

In [ ]:
a = []
size = int(input("Enter size:"))
for i in range(size):
    val = input("Enter item:")
    a.append(val)
# print(a)
b = tuple(a)
print(b)

Enter size:3
Enter item:sam
Enter item:good
Enter item:46
('sam', 'good', '46')

Q.2 Create a user-defined tuple in which user can add or delete an item .

In [ ]:
a = []
size = int(input("Enter size:"))
for i in range(size):
    val = input("Enter item:")
    a.append(val)
# print(a)
b = tuple(a)
print(b)
c = input("Which item you want to delete::")
d = list(b)
# print(d)
d.remove(c)
# print(d)
e = tuple(d)
print(e)

Enter size:4
Enter item:sam
Enter item:gorav
Enter item:aniket
Enter item:khushi
('sam', 'gorav', 'aniket', 'khushi')
Which item you want to delete::khushi
('sam', 'gorav', 'aniket')

In [ ]:
a = ['sam' , 'gorav' , 'aniket' , 'lokesh']
print(a)
size = int(input("how many elements you want to delete:"))
for i in range(size):
    val = input("Which item you want to delete:")
    a.remove(val)
print(a)

['sam', 'gorav', 'aniket', 'lokesh']
how many elements you want to delete:2
Which item you want to delete:sam
Which item you want to delete:aniket
['gorav', 'lokesh']

In [ ]:
b = ('sam' , 'gorav' , 'aniket' , 'lokesh')
print(b)
a = ['sam' , 'gorav' , 'aniket' , 'lokesh']
# print(a)
size = int(input("how many elements you want to delete:"))
for i in range(size):
    val = input("Which item you want to delete:")
    a.remove(val)
# print(a)
c = tuple(a)
print(c)

('sam', 'gorav', 'aniket', 'lokesh')
how many elements you want to delete:2
Which item you want to delete:sam
Which item you want to delete:lokesh
('gorav', 'aniket')

In [ ]:
b = ('sam' , 'gorav' , 'aniket' , 'lokesh')
print(b)
a = ['sam' , 'gorav' , 'aniket' , 'lokesh']
# print(a)
size = int(input("how many elements you want to add:"))
for i in range(size):
    val = input("Which item you want to add:")
    a.append(val)
# print(a)
c = tuple(a)
print(c)

('sam', 'gorav', 'aniket', 'lokesh')
how many elements you want to add:2
Which item you want to add:sumit
Which item you want to add:garvit
('sam', 'gorav', 'aniket', 'lokesh', 'sumit', 'garvit')

(1).Sales performance Analysis

Problem statement:

A company tracks the monthly sales of 6 employees in a list.
your task is to determine which employees achieved
sales above 5000 units.

Example Input:
sales = [4500,6000,3000,8000,5500,4200]

Expected Output:
["Employee 2","Employee 4","Employee 5"]

In [ ]:
Sales = [4500,6000,3000,8000,5500,4200]
High_performers = []

for i in range(len(Sales)):
  if Sales[i] > 5000:
    High_performers.append(f"Employee {i+1}")
print(High_performers)

['Employee 2', 'Employee 4', 'Employee 5']

(2).Find the most Expensive Product in a Store
Problem Statement:
A store sells different products,and their prices are stored in a list.
Find the most expensive product.

Example Input:
product = ["Laptop","phone","Headphone","monitor","keyboard"]
prices = [800,500,200,300,100]
Expected Output:
"Laptop - $800"

In [ ]:
products = ["Laptop","Phone","Headphone","Moniter","Keyboard"]
prices = [800,500,200,300,100]
Max_price = max(prices)
# print(Max_price)
index = prices.index(Max_price)
# print(index)
print(f"{products[index]}-${Max_price}")

Laptop-$800

(3).Count How many Customers Made Large Purchases

Problem Statement:

A Company has a list of customers and their total purchase amounts.
Find how many customers have spent more than $1000

Example Input:
Customers =  ["John","Emma","Liam","Sophia","David"]
Purchases = [1200,800,1500,700,2200]

In [ ]:
customers = ["John","Emma","Liam","sophia","David"]
purchases = [1200,800,1500,700,2200]

customers = 0

for i in purchases:
  if i >1000:
    customers += 1

print(f"Total high value customers:{customers}")

Total high value customers:3

(4).Identify Low Stock Product in an Inventory

Problem Statement:
A warehouse stores products,and their stock levels are listed.

Identify products with a stock below 5 units.

Example Input:

products = ["shirts","Jeans","Jackets","Shoes","Hats"]
stock = [3,10,4,15,2]


Expected Output:

Low Stock product:['Shirts','Jackets','Hats']

In [ ]:
products = ["shirts","Jeans","Jackets","Shoes","Hats"]
stock = [3,10,4,15,2]
low_stock = []

for i in range(len(stock)):
  if stock[i] < 5:
    low_stock.append(products[i])
print(f"Low Stock Product:{low_stock}")

Low Stock Product:['shirts', 'Jackets', 'Hats']

(5).Calculate Employee Bonuses Based on Performance

Problem Statement:
A Company awards bonuses based on employee performance scores.

Employee who scored above 80 receive a $ 500 bonus,

while those scroing between  50  and  80  receive  $ 200.others get no bonus.
Example Input:
employee = ["Alice","Bob","Charlie","David","Eve"]
Scores = [80,70,90,45,60]

Expected Output:

 ALice gets $500,  Bob gets $200,  Charlie gets $500,  David gets $0,  Eve gets $200

In [ ]:
employees = ["ALice", "Bob", "Charlie", "David", "Eve"]
scores = [85, 70, 90, 45, 60]
bonuses = []

for i in range(len(scores)):
    if scores[i] > 80:
        bonus = 500
    elif scores[i] >= 50:
        bonus = 200
    else:
        bonus = 0

    bonuses.append(f"{employees[i]} gets ${bonus}")

print(",  ".join(bonuses))

ALice gets $500,  Bob gets $200,  Charlie gets $500,  David gets $0,  Eve gets $200

**Dictionary in python**

(1). Identification = {}

(2). Key:value pair and element separate by comma

(3). Indexing start from 0 and length start from 1.

In [ ]:
a = {'Brand':'kia', 'Model':'Seltos','Year':2024}
print(a)

{'Brand': 'kia', 'Model': 'Seltos', 'Year': 2024}

In [ ]:
type(a)

dict

In [ ]:
# Access the elements
print(a['Brand'])
print(a['Model'])
print(a['Year'])

kia
Seltos
2024

In [ ]:
a = {'Brand':'kia', 'Model':'Seltos','Year':2024}
print(a)

{'Brand': 'kia', 'Model': 'Seltos', 'Year': 2024}

In [ ]:
a['Year'] = 2025

In [ ]:
a

{'Brand': 'kia', 'Model': 'Seltos', 'Year': 2025}

In [ ]:
# Loop in dictionary

for i in a:    # Extract all key
   print(i)

Brand
Model
Year

In [ ]:
for i in a.keys():
  print(i)

Brand
Model
Year

In [ ]:
for i in a :      # Extract all values
  print(a[i])

kia
Seltos
2025

In [ ]:
for x,y in a.items():
  print(x,y)

Brand kia
Model Seltos
Year 2024
color white

In [ ]:
# Add key-value pair
a = {'Brand':'kia', 'Model':'Seltos','Year':2024}
print(a)
a['color'] = 'white'
a

{'Brand': 'kia', 'Model': 'Seltos', 'Year': 2024}

{'Brand': 'kia', 'Model': 'Seltos', 'Year': 2024, 'color': 'white'}

In [ ]:
a['Year']= 2025

In [ ]:
a

{'Brand': 'kia', 'Model': 'Seltos', 'Year': 2025, 'color': 'white'}

 Function in dictionary

In [ ]:
a = {'Brand':'kia', 'Model':'Seltos','Year':2024}
print(a)

{'Brand': 'kia', 'Model': 'Seltos', 'Year': 2024}

In [ ]:
# (1). len()
len(a)

3

In [ ]:
# (2). pop()
a = {'Brand':'kia', 'Model':'Seltos','Year':2024}
print(a)
a.pop('Model')
print(a)

{'Brand': 'kia', 'Model': 'Seltos', 'Year': 2024}
{'Brand': 'kia', 'Year': 2024}

In [ ]:
# (3). popitem()
a = {'Brand':'kia', 'Model':'Seltos','Year':2024}
print(a)
a.popitem()
print(a)

{'Brand': 'kia', 'Model': 'Seltos', 'Year': 2024}
{'Brand': 'kia', 'Model': 'Seltos'}

In [ ]:
# (3). clear()
a = {'Brand':'kia', 'Model':'Seltos','Year':2024}
print(a)
a.clear()
print(a)

{'Brand': 'kia', 'Model': 'Seltos', 'Year': 2024}
{}

In [ ]:
Raj = {'jackets':500, 'Jeans':1500,'shoes':8000}
print(Raj)
a = []
for i in Raj.values():
  a.append(i)
#print(a)
sum = 0
for i in range(len(a)):
  sum += a[i]
print("Your total bill is :", sum)

b = []
total = 0
for i in Raj.keys():
  b.append(i)
print("your iteam list is :",b)

{'jackets': 500, 'Jeans': 1500, 'shoes': 8000}
Your total bill is : 10000
your iteam list is : ['jackets', 'Jeans', 'shoes']

In [ ]:
a = {'shirt':500,'jeans':1000,'shirt':1000,'shirt':2000,'shoes':5000}
# tell me how many time shirt repeat?
# only shirt total bill?
iteam = ['shirt','jeans','shirt','shirt','shoes']
price = [500,1000,1000,2000,5000]
total = 0
count = 0
for i in range(len(iteam)):
  if iteam[i] == 'shirt':
    total += price[i]
    count += 1
print(f"shirt appears {count} times ")
print(f"Total bill for shirt: {total}")

shirt appears 3 times
Total bill for shirt: 3500

Q 1. From "apple" create a dictionary where keys are character and value are how many time they occur.

In [ ]:
s = "apple"
d = {}
for i in s:
  if i in d:
    d[i] += 1
  else:
    d[i] = 1
print(d)

{'a': 1, 'p': 2, 'l': 1, 'e': 1}

Q2. Merge {'a':1,'b':2} and {'b':3,'c':4}.if key is common, add value.

In [ ]:
d1 = {'a':1, 'b':2}
d2 = {'b':3, 'c':4}
result = {}
for k in d1:
  result[k] = d1[k]
for k in d2:
  if k in result:
    result[k] = result[k] + d2[k]
  else:
    result[k] = d2[k]
print(result)

{'a': 1, 'b': 5, 'c': 4}

Q3. From {'a':1,'b':2,'c':1},make {1:['a','c'],2:['b']}

In [ ]:
d = {'a':1,'b':2,'c':1}
result = {}
for k in d:
  val = d[k]
  if val in result:
    result[val].append(k)
  else:
    result[val] = [k]
print(result)

{1: ['a', 'c'], 2: ['b']}

**Question**

In [ ]:
#  mix question-->list , tuple , dictionary
# Q.1 Reverse a list without using built-in methods.

# Input: [10, 20, 30, 40]
# Output: [40, 30, 20, 10]

a = [10,20,30,40]
reverse_num = []

for i in a:
  if reverse_num == []:
    reverse_num.append(i)
  else:
    reverse_num.insert(0,i)
print(reverse_num)

[40, 30, 20, 10]

In [ ]:
# Q.2 Create a user defiend list and calculate sum of all elements that present in list .

a = int(input("Enter the list:"))
sum = 0
for i in range(a):
  val = int(input("Enter the element:"))
  sum += val
print("sum of all elements:",sum)

Enter the list:4
Enter the element:12
Enter the element:13
Enter the element:45
Enter the element:34
sum of all elements: 104

In [ ]:
# Q.3 Remove all duplicates from a list while maintaining order.

# Input: [1, 2, 2, 3, 4, 3]
# Output: [1, 2, 3, 4]
a = [1,2,2,3,4,3]
b = []
for i in a:
  if i not in b:
    b.append(i)
print(b)

[1, 2, 3, 4]

In [ ]:
# Q.4 Find the second largest number in a list.

# Input: [12, 35, 1, 10, 34, 1]
# Output: 34

num = [12,35,1,10,34,1]
num.sort()
print(num)
print(f"second largest nunber:",num[-2])

[1, 1, 10, 12, 34, 35]
second largest nunber: 34

In [ ]:
# Q.5 Convert a list of tuples into a dictionary.

# Input: [("a", 1), ("b", 2), ("c", 3)]
# Output: {'a': 1, 'b': 2, 'c': 3}

pair = [("a",1),("b",2),("c",3)]
dic = {}
for key,value in pair:
  dic[key] = value
print(dic)

{'a': 1, 'b': 2, 'c': 3}

In [ ]:
# Q.6 Write a function that takes a tuple of integers and returns a tuple with only even numbers.
# Input: (1, 2, 3, 4, 5, 6)
# Output: (2, 4, 6)

tuple = (1,2,3,4,5,6)
even = []
for i in tuple:
  if i % 2 == 0:
    even.append(i)
print(even)

[2, 4, 6]

In [ ]:
# Q.7 Find common elements between two tuples.
# Input: (1, 2, 3), (2, 3, 4)
# Output: (2, 3)

tuple1 = (1,2,3)
tuple2 = (2,3,4)
common = []
for i in tuple1:
  if i in tuple2:
    common.append(i)
print(common)

[2, 3]

In [ ]:
# Q.8 Merge two dictionaries and sum values of common keys.
# Input: {'a': 10, 'b': 20}, {'a': 5, 'c': 7}
# Output: {'a': 15, 'b': 20, 'c': 7}

dic1 = {'a':10,'b':20}
dic2 = {'a':5,'c':7}
result = {}
for k in dic1:
  result[k] = dic1[k]
for k in dic2:
  if k in result:
    result[k] = result[k] + dic2[k]
  else:
    result[k] = dic2[k]
print(result)

{'a': 15, 'b': 20, 'c': 7}

SET OF PYTHON


(1).Indroduction = {element1, element2,....element n}

(2).Mutable data type---->we can change or update value at a run time.

(3).It will have only  unique value which means it cannot contains duplicate values.

(4).Order of value will not arranged.

In [ ]:
a = {'sam',45,'sam','raj',67,90,45,45}
type(a)

set

In [ ]:
print(a)

{67, 'raj', 90, 'sam', 45}

**Mutability in Set**

In [ ]:
a = {'sam',45,'sam','raj','sam'}
print(a)
a.add('rahul')
print(a)
a.remove('sam')
print(a)

{'raj', 'sam', 45}
{'raj', 'sam', 45, 'rahul'}
{'raj', 45, 'rahul'}

In [ ]:
# Loop in Set
a = {'sam',45,'sam','raj','sam'}
for i in a:
  print(i)

raj
sam
45

In [ ]:
a = [1,5,2,4,8,3,9,34,10,2,2,5,7,8,1]
print(a)
a.sort()
print(a)
## task -->second minimum element
b = set(a)
print(b)
c = list(b)
c.sort()
print(c)
print(f"second minimum number is :",c[1])
print(f"second maximum number is :",c[-2])

[1, 5, 2, 4, 8, 3, 9, 34, 10, 2, 2, 5, 7, 8, 1]
[1, 1, 2, 2, 2, 3, 4, 5, 5, 7, 8, 8, 9, 10, 34]
{1, 2, 3, 4, 5, 34, 7, 8, 9, 10}
[1, 2, 3, 4, 5, 7, 8, 9, 10, 34]
second minimum number is : 2
second maximum number is : 10

In [ ]:
#Set operations
a = {1,2,3}
b = {4,5,6,}
c = a + b
c

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [ ]:
a = {1,2,3,4}
b = {3,4,5,6}
c =  a.union(b)
print(c)
e = a|b  ##Second method of union
print(e)
d = a.intersection(b)
print(d)
f = a&b  #SEcond method of intersection
print(f)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
{3, 4}
{3, 4}

In [ ]:
a-b ## Remaining element in a container when we remove common element.

{1, 2}

In [ ]:
b-a ##Remaining element in b container when we remove common element.

{5, 6}

In [ ]:
a = {1,2,3,4}
print(a)
a.clear()
print(a)

{1, 2, 3, 4}
set()

#list Comprehension
1.list comprehensions in python provide a concise way to create lists.

2.They are more readable and efficient than traditional for loop.

3.Syntax:
[expression for item in iterable if condition]

In [ ]:
# 1.Create a List of Squares
squares = [x**2 for x in range(1,6)]
print(squares)

[1, 4, 9, 16, 25]

In [ ]:
# 2. Filter Even Numbers
even = [x for x in range(10) if x % 2 == 0]
print(even)

[0, 2, 4, 6, 8]

In [ ]:
# 3. convert string to Uppaercase
names = ["sam","rohit","ankit"]
upper_name = [name.upper() for name in names]
print(upper_name)

['SAM', 'ROHIT', 'ANKIT']

In [ ]:
# 4.Flatten a Nested List
matrix = [[1,2],[3,4],[5,6]]
flatten = [num for row in matrix for num in row]
print(flatten)

[1, 2, 3, 4, 5, 6]

In [ ]:
# 5.Generate a List to Tuple
pairs = [(x,y) for x in range(3) for y in range(3)]
print(pairs)

[(0, 0), (0, 1), (0, 2), (1, 0), (1, 1), (1, 2), (2, 0), (2, 1), (2, 2)]

In [ ]:
# without list comprehension
# Example 1
squares = []    #old forment
for x in range(1,6):
  squares.append(x**2)
print(squares)

[1, 4, 9, 16, 25]

In [ ]:
Squares = [x**2 for x in range(1,6)] ## List comprehension
print(Squares)

[1, 4, 9, 16, 25]

In [ ]:
# Example 2
evens = []
for x in range(10):
  if x % 2 == 0:
    evens.append(x)
print(evens)

[0, 2, 4, 6, 8]

# Dictionary Comprehension
--->Dictionary Comprehension in python offer a concise way to create dictionaries from iterables.

--->Similer to List comprehensions,they allow you to construct dictionaries in a single line, with an optional condition for Filtering.


Syntax : {key_expression: value_expression for item in iterable if condition}

In [ ]:
# 1. Create a Dictionary of Squares
# create a dictionary where the keys are numbers and the values are their squares.
squares_dict = {x:x**2 for x in range(1,8)}
print(squares_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}

In [ ]:
# 2. Filter Even Numbers
# Create a dictionary with only even number and their squares.
even_squares = {x:x**2 for x in range(10) if x % 2 == 0}
print(even_squares)

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [ ]:
# 3. Reverse a Dictionary
# create a dictionary comprehension to swap keys and values in an existing dictionary
original = {'a':1,'b':2,'c':3}
reversed_dict = {value:key for key,value in original.items()}
print(reversed_dict)

{1: 'a', 2: 'b', 3: 'c'}

In [ ]:
# 4. convert list to dictionary with lengths
# convert a list of string into a dictionary where the keys are the strings and the values are the lenghth of each string.

word = ["apple","banana","cherry","date"]
length_dict = {word:len(word) for word in word}
print(length_dict)

{'apple': 5, 'banana': 6, 'cherry': 6, 'date': 4}

#Function in Python-->
1. Specific block of code--->Name-->Call the name->run its internal Logics
# Type of function in python
1.Pre-defined function--->print(),input(),sum()....
2.Manually Created Function--->
   
   1.def.
   
   2.Name of function
   
   3.function creation logic
   
   4.call the function

In [ ]:
# Create a function who add 2 numbers ?
def My_add():
  a = 5
  b = 6
  c = a + b
  print("Add = ",c)
My_add()

Add =  11

#Arguments And Parameters-->

Parmeters---->These are the values which we pass when we create a function.

Arguments--->These are the values which we pass when we call a fuction

In [ ]:
def my_add(a,b):
    c = a + b
    print("total = ", c)
my_add(5,6)

total =  11

In [ ]:
def my_total(a,b):
  c = a + b
  print("Total = ", c)
p = int(input("Enter first number:"))
q = int(input("Enter second number"))
my_total(p,q)  ## here (p,q)--->arguments and (a,b)--->parameters

Enter first number:12
Enter second number34
Total =  46

In [ ]:
# create a function who tell given number is add or even.
def oddeve():
  a = int(input("Enter a number:"))
  if(a % 2 == 0):
    print("Number is even")
  else:
    print("Number is odd")
oddeve()

Enter a number:56
Number is even

In [ ]:
# with Arguments And parameters

def oddeve(a):
  if(a % 2 == 0):
    print("Number is even")
  else:
    print("Number is odd")
b = int(input("Enter number:"))
oddeve(b)

Enter number:36
Number is even

#1.args(Non keyword Arguments)
*args allows you to pass multiple positional arguments to a function.it collects them to into a tuple.

In [ ]:
def add_number(*args):
  total = sum(args)
  print(f"Total is {total}")
add_number(5,10,15)

Total is 30

#2.kwargs(keyword Argumensts)
**kwargs allows you to pass multiple keyword arguments (name-value pairs).its collects them into a dictionary.

In [ ]:
def print_details(**kwargs):
  for key,value in kwargs.items():
    print(f"{key}:{value}")
print_details(name="neetu",age=25,city="bhilwara")

name:neetu
age:25
city:bhilwara

#3.Using args and *kwargs Together
you can use both in the same function,but args must come before *kwargs.

In [ ]:
def display_info(*args,**kwargs):
  print("Positionsl argument:",args)
  print("Keyword arguments",kwargs)
display_info(1,2,3,name = "neetu",age = 25)

Positionsl argument: (1, 2, 3)
Keyword arguments {'name': 'neetu', 'age': 25}

#4.Required Arguments(Mandatory Inputs)
These are arguments that must be passed to a function; otherwise,python throws an error.These is no default value for these arguments.

In [ ]:
def greet(name):
  print(f"Hello,{name}")
greet("neetu")
# greet()

Hello,neetu

#5.Default Arguments (Optional Inputs)
These argumenst have a default value assigned.if no value is provided,python uses the default.

In [ ]:
def greet(name = "Guest"):
  print(f"Hello,{name}")
greet("neetu")
greet()

Hello,neetu
Hello,Guest

#return keyword(output of a function)
The return Statement sends a value back from a function.if return is not used ,the function returns None.

In [ ]:
def add(a,b):
  return a+b
result = add(5,3)
print(result)

8

#Questions
#1.find the maximum Number using *args
Question:write a function that takes multiple number as argments using *args and returns the maximum number.

In [ ]:
def find_max(*args):
  return max(args)
print(find_max(10,5,25,8,100))
print(find_max(-1,-10,-5,0))

100
0

#2.Calculate the product of Number Using *args
Question: write a function that takes multiple numbers using *args and returns their product.

In [ ]:
def product(*args):
  result = 1
  for num in args:
    result *= num
  return result
print(product(2,3,4))
print(product(5,5))

24
25

In [11]:
# Lambda Function==> A lambda function can take any number of arguments can only have one expression.
# Syntax : Lambda arguments : expression
# Example 1:
x = lambda a :a+5
print("Total value = ",x(2))

# Exaample 2:
x = lambda a,b : a*b
print("Total product is =",x(3,4))

# Example 3:
x=lambda a,b,c, : a+b-c
print("Total =",x(4,5,6))

Total value =  7
Total product is = 12
Total = 3

In [15]:
# Lambda function Question
# 1.Write a Python program to create a lambda function that adds 15 to a given number passed in as an argument,
# also create a lambda function that multiplies argument x with argument y and prints the result.

# Define a lambda function 'r' that takes a single argument 'a' and returns 'a + 15'
r = lambda a: a + 15
print(r(10))

# Reassign 'r' to a new lambda function that takes two arguments 'x' and 'y' and returns their product
r = lambda x, y: x * y
print(r(12, 4))

25
48

In [16]:
#2. Write a Python program to sort a list of tuples using Lambda.
# Create a list of tuples named 'subject_marks', each tuple containing a subject and its corresponding marks
subject_marks = [('English', 88), ('Science', 90), ('Maths', 97), ('Social sciences', 82)]

print("Original list of tuples:")
print(subject_marks)

subject_marks.sort(key=lambda x: x[1])
print("\nSorting the List of Tuples:")
print(subject_marks)

Original list of tuples:
[('English', 88), ('Science', 90), ('Maths', 97), ('Social sciences', 82)]

Sorting the List of Tuples:
[('Social sciences', 82), ('English', 88), ('Science', 90), ('Maths', 97)]

In [17]:
#3. Write a Python program to sort a list of dictionaries using Lambda.
# Create a list of dictionaries named 'models', each dictionary representing a mobile phone model with 'make', 'model', and 'color' keys
models = [
    {'make': 'Nokia', 'model': 216, 'color': 'Black'},
    {'make': 'Mi Max', 'model': '2', 'color': 'Gold'},
    {'make': 'Samsung', 'model': 7, 'color': 'Blue'}
]

print("Original list of dictionaries:")
print(models)

sorted_models = sorted(models, key=lambda x: x['color'])

print("\nSorting the List of dictionaries:")
print(sorted_models)

Original list of dictionaries:
[{'make': 'Nokia', 'model': 216, 'color': 'Black'}, {'make': 'Mi Max', 'model': '2', 'color': 'Gold'}, {'make': 'Samsung', 'model': 7, 'color': 'Blue'}]

Sorting the List of dictionaries:
[{'make': 'Nokia', 'model': 216, 'color': 'Black'}, {'make': 'Samsung', 'model': 7, 'color': 'Blue'}, {'make': 'Mi Max', 'model': '2', 'color': 'Gold'}]

In [19]:
#4. Write a Python program to filter a list of integers using Lambda.
# Create a list of integers named 'nums'
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print("Original list of integers:")
print(nums)

print("\nEven numbers from the said list:")
even_nums = list(filter(lambda x: x % 2 == 0, nums))
print(even_nums)
print("\nOdd numbers from the said list:")

odd_nums = list(filter(lambda x: x % 2 != 0, nums))
print(odd_nums)

Original list of integers:
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Even numbers from the said list:
[2, 4, 6, 8, 10]

Odd numbers from the said list:
[1, 3, 5, 7, 9]

In [20]:
#4. Write a Python program to square and cube every number in a given list of integers using Lambda.
# Create a list of integers named 'nums'
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print("Original list of integers:")
print(nums)

print("\nSquare every number of the said list:")

square_nums = list(map(lambda x: x ** 2, nums))
print(square_nums)
print("\nCube every number of the said list:")
cube_nums = list(map(lambda x: x ** 3, nums))
print(cube_nums)

Original list of integers:
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Square every number of the said list:
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Cube every number of the said list:
[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [25]:
#5.Write a Python program to find whether a given string starts with a given character using Lambda.
# Define a lambda function 'starts_with' that checks if a given string starts with 'P'
starts_with = lambda x: True if x.startswith('P') else False

print(starts_with('Python'))
print(starts_with('java'))

True
True

#Filter function

In [13]:
# Filter Function ==>The filter function returns an iterator where the items are filtered through a function to test,
# if the item is accepted return true and false.
ages = [5,12,17,18,34,67,50]
def myfunc(x):
  if (x<=18):
    return True
  else:
    return False
kid = list(filter(myfunc , ages))
print(kid)

[5, 12, 17, 18]

In [31]:
#Q1. Write a Python function that filters out even numbers from a list of integers using the filter function.
def filter_even_nums(nums):
     def is_odd(num):
        return num % 2 != 0
     odd_nums = list(filter(is_odd, nums))

     return odd_nums

nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print("Original numbers:",nums)
result = filter_even_nums(nums)
print("After filters out even numbers from the said list of integers ")
print(result)  # Output: [1, 3, 5, 7, 9]

Original numbers: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
After filters out even numbers from the said list of integers
[1, 3, 5, 7, 9]

In [33]:
# Q2.Write a Python program that uses the filter function to extract all uppercase letters from a list of mixed-case strings.
# Define a list of mixed-case strings
mixed_case_strings = ["Hello", "Programmer", "Python", "Filter", "Learning"]
print("Original list of strings:\n",mixed_case_strings)
uppercase_letters = list(filter(lambda char: char.isupper(), ''.join(mixed_case_strings)))
print("\nExtract all uppercase letters from the said list of mixed-case strings:")
print(uppercase_letters)

Original list of strings:
 ['Hello', 'Programmer', 'Python', 'Filter', 'Learning']

Extract all uppercase letters from the said list of mixed-case strings:
['H', 'P', 'P', 'F', 'L']

In [34]:
# Q3.Write a Python function that filters out all elements
# less than or equal than a specified value from a list of numbers using the filter function.
def filter_numbers_less_than(numbers, threshold):
    def is_less_than_threshold(num):
        return num <= threshold
    filtered_numbers = list(filter(is_less_than_threshold, numbers))
    return filtered_numbers
numbers = [20, 15, 24, 37, 23, 11, 7]
print("Original list of numbers:",numbers)
threshold = 20
print("\nFilters out all elements less than or equal to a specified value",threshold,":")
result = filter_numbers_less_than(numbers, threshold)
print(result)

Original list of numbers: [20, 15, 24, 37, 23, 11, 7]

Filters out all elements less than or equal to a specified value 20 :
[20, 15, 11, 7]

In [35]:
#Q4. Write a Python program that creates a list of names and uses
# the filter function to extract names that start with a vowel (A, E, I, O, U).
names = ["Elita", "Vitold", "Audovacar", "Kerensa", "Ramana", "Iolanda", "Landyn"]
print("Original list of names:")
print(names)
def starts_with_vowel(name):
    return name[0].lower() in ['a', 'e', 'i', 'o', 'u']
vowel_names = list(filter(starts_with_vowel, names))
print("\nExtract names starting with a vowel:")
# Print the extracted names
print(vowel_names)

Original list of names:
['Elita', 'Vitold', 'Audovacar', 'Kerensa', 'Ramana', 'Iolanda', 'Landyn']

Extract names starting with a vowel:
['Elita', 'Audovacar', 'Iolanda']

In [42]:
# Q5.Write a Python program that creates a list of dictionaries containing student information (name, age, grade) and uses
# the filter function to extract students with a grade greater than or equal to 95.
# Define a list of dictionaries containing student information
students = [
    {"name": "Denis Helio", "age": 17, "grade": 97},
    {"name": "Hania Mehtap", "age": 16, "grade": 92},
    {"name": "Kelan Stasys", "age": 17, "grade": 90},
    {"name": "Velvet Mirko", "age": 16, "grade": 94},
    {"name": "Delores Aeneas", "age": 17, "grade": 100},
]
print("Student information:")
print(students)
def has_high_grade(student):
    return student["grade"] >= 95
high_grade_students = list(filter(has_high_grade, students))
print("\nStudents with high grades:")
print(high_grade_students)

Student information:
[{'name': 'Denis Helio', 'age': 17, 'grade': 97}, {'name': 'Hania Mehtap', 'age': 16, 'grade': 92}, {'name': 'Kelan Stasys', 'age': 17, 'grade': 90}, {'name': 'Velvet Mirko', 'age': 16, 'grade': 94}, {'name': 'Delores Aeneas', 'age': 17, 'grade': 100}]

Students with high grades:
[{'name': 'Denis Helio', 'age': 17, 'grade': 97}, {'name': 'Delores Aeneas', 'age': 17, 'grade': 100}]

In [14]:
# Map function()===>The map() executes a specified function for each item in a iterable
# the item is sent to the function as parameters.
# method-1
a = ["3","45","89"]
for i in range(len(a)):
  a[i] = int(a[i])
print(a)
# method-2
b=list(map(int,a))
print(b)

[3, 45, 89]
[3, 45, 89]

In [43]:
# Q1.write a Python program to add three given lists using Python map and lambda
# Create three lists named nums1, nums2, and nums3 with integer elements
nums1 = [1, 2, 3]
nums2 = [4, 5, 6]
nums3 = [7, 8, 9]
print("Original list:")
print(nums1)
print(nums2)
print(nums3)
# from nums1, nums2, and nums3 and create a new list
result = map(lambda x, y, z: x + y + z, nums1, nums2, nums3)
# Print the result of the map operation as a list
print("\nNew list after adding above three lists:")
print(list(result))

Original list:
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

New list after adding above three lists:
[12, 15, 18]

In [45]:
# Q2.Write a Python program to listify the list of given strings individually using Python map.
# Create a list named 'color' containing strings representing colors
color = ['Red', 'Blue', 'Black', 'White', 'Pink']
print("Original list:")
print(color)
print("\nAfter listify the list of strings are:")
result = list(map(list, color))
print(result)

Original list:
['Red', 'Blue', 'Black', 'White', 'Pink']

After listify the list of strings are:
[['R', 'e', 'd'], ['B', 'l', 'u', 'e'], ['B', 'l', 'a', 'c', 'k'], ['W', 'h', 'i', 't', 'e'], ['P', 'i', 'n', 'k']]

In [46]:
# Q3.Write a Python program to square the elements of a list using the map() function.
# Define a function named square_num that calculates the square of a given number 'n'
def square_num(n):
    return n * n
nums = [4, 5, 2, 9]
print("Original List: ", nums)
result = map(square_num, nums)
print("Square the elements of the said list using map():")

# Print the result of the map operation as a list
print(list(result))

Original List:  [4, 5, 2, 9]
Square the elements of the said list using map():
[16, 25, 4, 81]

In [47]:
# Q4.Write a Python program to add two given lists and find the difference between them. Use the map() function.
# Define a function named addition_subtrction that performs addition and subtraction on two numbers
def addition_subtrction(x, y):
    return x + y, x - y
nums1 = [6, 5, 3, 9]
nums2 = [0, 1, 7, 7]
print("Original lists:")
print(nums1)
print(nums2)
result = map(addition_subtrction, nums1, nums2)
print("\nResult:")
# Print the result of the map operation as a list of tuples
print(list(result))

Original lists:
[6, 5, 3, 9]
[0, 1, 7, 7]

Result:
[(6, 6), (6, 4), (10, -4), (16, 2)]

In [48]:
# Q5.Write a Python program to convert a given list of integers and a tuple of integers into a list of strings.
# Create a list named 'nums_list' and a tuple named 'nums_tuple' with integer elements
nums_list = [1, 2, 3, 4]
nums_tuple = (0, 1, 2, 3)
#  Print the original list and tuple
print("Original list and tuple:")
print(nums_list)
print(nums_tuple)
result_list = list(map(str, nums_list))
result_tuple = tuple(map(str, nums_tuple))
print("\nList of strings:")
print(result_list)
print("\nTuple of strings:")
# Print the result of the map operation for the tuple as a tuple of strings
print(result_tuple)

Original list and tuple:
[1, 2, 3, 4]
(0, 1, 2, 3)

List of strings:
['1', '2', '3', '4']

Tuple of strings:
('0', '1', '2', '3')